<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <h1>Register</h1>
      <form action="/auth/register" method="POST">
        <div>
          <label for="name">First Name</label>
          <input
            type="text"
            name="firstName"
            id="lastName"
            placeholder="John"
            required
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="john@example.com"
            required
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="john@example.com"
            required
          />
        </div>
        <div>
          <button type="submit">Register</button>
        </div>
      </form>
    </main>
  </body>
</html>
